<form [formGroup]="loginForm" (ngSubmit)="login()">
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input type="email" matInput formControlName="email" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input type="password" matInput formControlName="password" />
  </mat-form-field>
  <button type="submit" mat-raised-button color="primary">Login</button>
  <br />
  <button
    type="button"
    mat-raised-button
    color="primary"
    [routerLink]="['/auth/registration']"
  >
    Registration
  </button>
</form>
