<form [formGroup]="registrationForm" (ngSubmit)="register()">
  <mat-form-field appearance="fill">
    <mat-label>First name</mat-label>
    <input matInput formControlName="first_name" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Last name</mat-label>
    <input matInput formControlName="last_name" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input type="email" matInput formControlName="email" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input type="password" matInput formControlName="password" />
  </mat-form-field>
  <button type="submit" mat-raised-button color="primary">Registrate</button>
</form>
